.techused-ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-height: 4em;

  li {
    animation: fadeIn 1.5s linear forwards;
    margin: 0.2em;
    border-radius: 20px;
    padding: 0.1em 0.5em;
    color: azure;
    background-color: #222;
    align-self: center;
  }
}

@keyframes fadeIn {
  0% {
    color: #222;
  }
  100% {
    color: azure;
  }
}
