.techused-ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-bottom: 1px solid #eee;

  li {
    border: 1px solid #666;
    animation: fadeIn 1.5s ease-in forwards;
    margin: 0.2em;
    border-radius: 20px;
    padding: 0.1em 0.5em;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
