.projectcard-wrapper-div {
  display: grid;
  grid-template-rows: repeat(min-content, 4);
  border-radius: 4px;
  padding-bottom: 0.5em;
  border: 1px solid #ccc;
  align-items: center;
  justify-content: center;
  animation: scaleIn 1s ease-in-out forwards;
  width: 100%;

  position: relative;
  top: 0;

  &:hover {
    transition: all 0.2s ease-out;
    top: -5px;
    border: 1px solid #aaa;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.4);
  }

  img {
    top: 0;
    width: 100%;
    height: minmax(500px, auto);
    border-bottom: 1px solid #eee;
    overflow: hidden;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    min-height: 350px;
  }

  .projectcard-title-div {
    animation: track-out 1.2s ease-out forwards;
    color: #212121;
    text-shadow: 1px 1px 0 #ddd;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    font-size: 2em;
    padding: 0.5em 0;
  }
}

@keyframes track-out {
  0% {
    opacity: 0;
    letter-spacing: -0.5em;
  }
  100% {
    letter-spacing: 0;
    opacity: 1;
  }
}

@keyframes scaleIn {
  from {
    transform: scale(0.3);
  }

  to {
    transform: scale(1);
  }
}
